.logo{
    width: 100px;
    height: 61px;
    margin-top: -21px;
}
body{
    background:palevioletred;
}
.main{
    width: 1084px;
    background: grey;
    margin: 0 auto;
    /*background-repeat: no-repeat;*/
    background-size: contain;
    overflow: hidden;


}
.form-con{
    width: 50%;
}
.opacity{
    background: rgba(0, 0, 0, .7);
    padding: 10px ;
}