{%extends 'base.html'%}
{%block title%}详情{%endblock%}
{% block main%}
   <form action="{{url_for('add_book')}}" method="post">

            <div class="for-content" >
                <div class="form-group">
                    <input type="text" placeholder="请填写评论" name="nr" class="form-control">
                </div>
                <div class="form-group" >
                     <button class="btn btn-primary" >立即评论</button>
                </div>
        </div>
    </form>
<ul>
    {%for bb in user.books%}
        <li style="list-style: none;color: white;border-bottom: 1px solid #fff;margin-bottom: 15px;"><div>
            <img src="{{url_for('static',filename='img/head.jpeg')}}" alt="" style="width: 50px;">
            <span style="color: grey;">{{bb.author.username}}</span>
            <p style="margin-left: 54px;margin-top: 10px;">{{bb.nr}}</p>
            <!--<button style="background:black;margin-top: -30px;float: right;">删除</button>-->
            <a href="{{url_for('del_book',del_id=bb.id)}}" style="color: #1d3e81;font-weight: 900;background: #000;color: #fff;float: right;margin-top: -30px;padding: 3px 5px">删除</a>
        </div></li>
    {%endfor%}
</ul>
{% endblock %}