{%extends 'base.html'%}
{%block title%}详情{%endblock%}
{% block main%}
<div style="color:white;text-align: center">
    <h3 style="margin:0 auto">{{question.title}}</h3>
<p>
    <span>作者：{{question.author.username}}</span>
    <span>时间：{{question.ccreate_timr}}</span>
</p>
<hr>
<p>{{question.content}}</p>
<hr>

    <h4 style="float: left">评论({{count}}):</h4>
    <form action="{{url_for('add_answer')}}" method="post">

            <div class="for-content" >
                <div class="form-group">
                    <input type="text" placeholder="请填写评论" name="answer_content" class="form-control">
                    <input type="text" style="display: none" name="question_id" value="{{ question.id }}">
                </div>
                <div class="form-group" >
                     <button class="btn btn-primary" >立即评论</button>
                </div>
        </div>
    </form>
</div>
<ul>
    {%for answer in aa%}
        <li style="list-style: none;color: white;border-bottom: 1px solid #fff;margin-bottom: 15px;"><div>
            <img src="{{url_for('static',filename='img/head.jpeg')}}" alt="" style="width: 50px;">
            <span style="color: grey;">{{answer.author.username}}</span>
            <span style="margin-left: 15px;float: right;margin-right: 20px;color: grey">{{answer.create_time}}</span>
            <p style="margin-left: 54px;margin-top: 10px;">{{answer.content}}</p>
        </div></li>
    {%endfor%}
    总页数：{{paginate.pages}}

    统计数据数量：{{paginate.total}}

    当前页数：{{paginate.page}}

    {% if paginate.has_prev %} # 如果有上一页
        <a href="/detail/{{q}}/?page={{ paginate.prev_num }}" >上一页</a>
    {% endif %}
    {% if paginate.has_next %}
        <a href="/detail/{{q}}/?page={{ paginate.next_num }}">下一页</a>
    {% endif %}

    页码：
    {% for i in paginate.iter_pages() %}
        <!--<a href="{{url_for('search',page=1)}}">{{ i }}</a>-->
        <a href="/detail/{{q}}/?page={{ i }}">{{ i }}</a>
    {% endfor %}

</ul>
{% endblock %}
